@model UserIndexLayoutVM

@foreach (var item in Model.Picks)
{
    <div class="historyItem" id="">
        <div class="thumbnail">
                <div id="map-@(item.UserId++)" class="map" lat="@item.PickLocation.Latitude" lng="@item.PickLocation.Longitude"></div>
        </div>
        <div class="historyInfo">
            <p>@item.PickedMushroom.Type</p>
            <p>Vikt: @item.Weight</p>
            <p>Datum: @item.PickDate</p>
        </div>
    </div>
}