@model UserIndexLayoutVM

@foreach (var item in Model.Picks)
{
    <div class="historyItem" id="@item.UserId">
        <div class="thumbnail">
                <div id="map-@(item.Id)" class="map" lat="@item.Latitude" lng="@item.Longitude"></div>
        </div>
        <div class="historyInfo">
            <p>@item.MushroomName</p>
            <p>Datum: @item.DatePicked</p>
            <p>@item.Description</p>
        </div>
    </div>
}