@model UserIndexLayoutVM

@foreach (var item in Model.Picks)
{
    <div class="historyItem" id="">
        <div class="thumbnail">
                <div id="map-@(item.UserId++)" class="map" lat="@item.Latitude" lng="@item.Longitude"></div>
        </div>
        <div class="historyInfo">
            <p>@item.MushroomName</p>
            <p>Vikt: @item.WeightInGrams</p>
            <p>Datum: @item.DatePicked</p>
        </div>
    </div>
}