@model UserIndexLayoutVM

@foreach (var item in Model.LatestMarketItems)
{
    <div class="marketItem" id="">
        <div class="thumbnail">
            <a href="#" title="Go to item">
                <img src="@item.MushroomPicUrl" alt="Lorem ipsum" />
            </a>
        </div>
        <div class="marketInfo">
            <p>@item.MushroomName</p>
            <p>@item.Street @item.Zip @item.City</p>
            <p>Vikt: @item.WeightInGrams</p>
            <p>@item.User.Firstname @item.Price</p>
        </div>
    </div>
}

