@model UserIndexLayoutVM

@foreach (var item in Model.LatestMarketItems)
{
    <div class="marketItem" id="@item.Id">
        <div class="thumbnail">
            <a href="#" title="Go to item">
                <img src="@item.MushroomPicUrl" alt="Lorem ipsum" />
            </a>
        </div>
        <div class="marketInfo">
            <p>@item.MushroomName</p>
            <p>Säljs i: @item.City</p>
            <p>Vikt: @item.WeightInGrams g</p>
            <p>Säljare: @item.Username    Pris: @item.Price.ToString().Split(',')[0]kr</p>
            <p>Kontakt: @item.User.Phonenumber</p>
            @*<i class='marketItem-btn2 fa fa-minus' href='#'></i>*@
        </div>
    </div>
}

