@model UserIndexLayoutVM

@foreach (var item in Model.LatestMarketItems)
{
    <div class="marketItem" id="">
        <div class="thumbnail">
            <a href="#" title="Go to item">
                <img src="@item.Mushroom.PicUrl" alt="Lorem ipsum" />
            </a>
        </div>
        <div class="marketInfo">
            <p>@item.Mushroom.Type</p>
            <p>@item.SalesAdress.Street @item.SalesAdress.Zipcode @item.SalesAdress.City</p>
            <p>Vikt: @item.Weight</p>
            <p>@item.SalesPersonUsername @item.PickDate</p>
        </div>
    </div>
}

