@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EditUserInfoVM

<form asp-controller="User" asp-action="UpdateUserInfo">
    <label asp-for="@Model.Username"></label>
    <input asp-for="@Model.Username" />
    <span asp-validation-for="@Model.Username"></span>
    <br />
    <label asp-for="@Model.Firstname"></label>
    <input asp-for="@Model.Firstname" />
    <span asp-validation-for="@Model.Firstname"></span>
    <br />
    <label asp-for="@Model.Lastname"></label>
    <input asp-for="@Model.Lastname" />
    <span asp-validation-for="@Model.Lastname"></span>
    <br />
    <label asp-for="@Model.Street"></label>
    <input asp-for="@Model.Street" />
    <span asp-validation-for="@Model.Street"></span>
    <br />
    <label asp-for="@Model.Zipcode"></label>
    <input asp-for="@Model.Zipcode" />
    <span asp-validation-for="@Model.Zipcode"></span>
    <br />
    <label asp-for="@Model.City"></label>
    <input asp-for="@Model.City" />
    <span asp-validation-for="@Model.City"></span>
    <br />
    <label asp-for="@Model.Phonenumber"></label>
    <input asp-for="@Model.Phonenumber" />
    <span asp-validation-for="@Model.Phonenumber"></span>
    <br />
    <input type="submit" value="Ändra" />
</form>